<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs"></ion-back-button>
        </ion-buttons>
        <ion-title>NGO - Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list>
        <ion-item [routerLink]="['../', 'upcoming']">Upcoming</ion-item>
        <ion-item [routerLink]="['../', 'past']">Past</ion-item>
        <ion-item [routerLink]="['../', 'volunteer']">Volunteer</ion-item>
    </ion-list>

</ion-content>
