<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs">docs</a> will be your guide.</p>

  <ion-list>
      <!--
      <ion-item [routerLink]="['/', 'event', '123']"> Events</ion-item>
      -->
      <ion-item [routerLink]="['/', 'ngo', '123']">Ngo</ion-item>
      <ion-item [routerLink]="['/', 'volunteer', '123']">Volunteer</ion-item>
  </ion-list>
</ion-content>
